header {
    background-color: gray;

    background-size: cover;

    height: 75px;

    display: flex;
    align-items: center;
    justify-content: center;

    display: flex;
    justify-content: space-around;
}

header h1 {
    color: rgb(225, 247, 31);
}

header ul {

    display: flex;

    align-items: center;
}

header ul li {

    list-style-type: none;

    margin-left: 25px;

}

header ul li a {

    margin-left: 25px;

    text-decoration: none;

    color: white;
}

header ul li a.active {

    border-bottom: 2px solid orange;

    padding-bottom: 12px;

}