header {
    background-color: gray;

    background-size: cover;

    height: 75px;

    display: flex;
    align-items: center;
    justify-content: center;

    display: flex;
    justify-content: space-around;
}

header h1 {
    color: rgb(225, 247, 31);
}

header nav a {
    text-decoration: none;

    margin-left: 25px;

    color: rgb(225, 247, 31);
}